<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<title>Document</title>
</head>
<body>
	<div class="icon">
		<img src="{% static 'img/Clear.png' %}">
	</div>
	<div class="picture_sixth">
		<img src="{% static 'img/Group 30.png' %}" alt="Wait...">
	</div>
	<div class="sixth_text">
		<p>Современные технологии покажут:</p>
	</div>
	<div class="sixth_text_2">
		<p>На сколько лучше <br> остальных <br> ты пишешь?</p>
	</div>
	<button class="button_3">УЗНАТЬ</button>
	<div class="third_text">
		<p>*Для анализа, наш алгоритм запросит у вас доступ к вашему аккаунту в Facebook</p>
	</div>
</body>
</html>