<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Document</title>
</head>
<body>
	<div class="first">
		<p>Ты похож <br>на знаменитость</p>
		<div class="button_third_page">
			<a href="">На какую?</a>
		</div>
		<img src="{% static 'img/Group 28.png' %}">
	</div>
	<div class="second">
		<p>Ты часто <br>пишешь слова...</p>
		<div class="button_third_page">
			<a href="">Какие?</a>
		</div>
		<img src="src/media/Group 22.png">
	</div>
	<div class="third">
		<p>Ты лучше <br>других <br> пользователей...</p>
		<div class="button_third_page">
			<a href="">На сколько?</a>			
		</div>
		<img src="src/media/Group 23.png"></div>
</body>
</html>												
